<!DOCTYPE html>
{% load static %}
<html lang="kr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="images/icon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title> TXT VIEWER </title>
    
    <script type="text/javascript">
    </script>

    <style media="screen">

    </style>
  </head>
  <body>
    <p class="space">The Service is Under Develop...</p>

    <p>We are now making <strong>LOGIN PAGE</strong></p>

    <p>After making LOGIN PAGE, we'll make FILE UPLOAD</p>

    <p class="space">Last Update: 2021.07.27</p>

    <form action="#" method="get">
      <input type="text" value="8" name="mytextbox" size="1"/>
      <input type="submit" class="btn" value="Click" name="mybtn">
     </form>

  </body>
</html>
